@page "/about"


<h3>About VirTutor!</h3>

<h5>
    About Virtutor: Empowering Minds, Transforming Futures
    Welcome to Virtutor, where learning knows no bounds! We are an online tutoring platform dedicated to providing personalized, high-quality education for students of all ages and levels.
</h5>

<h6>Our Mission: At Virtutor, we believe in the transformative power of education. Our mission is to empower minds and inspire a love for learning. We understand that every student is unique, and that's why we offer tailored tutoring experiences to meet individual needs.</h6>

<AboutContentComponent/>

@code {

}
