@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to VirTutor</h1>

Unlock Your Potential & Illuminate Your Mind with VirTutor! Please give us A*** 

<SurveyPrompt Title="How is Blazor working for you?" />
